.msgbox {
  background: rgba(0,0,0,0.5);
  border: 1px gray;
  float: right;
  position:absolute;
  bottom: 0;
  right:0;
  width: 300px;
  height: 100px;
}

@media only screen and (max-width: 300px) {
  .msgbox {
    width: 100%;
  }
}

.user_inp {

}

.userinfo {
  height: 15px;
}

.adduser {
  background: #FFC1C1;
  z-index: 5;
  width: 100%;
  height: 100%;
  text-align: center;
  float: left;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.inp_wrapper {
  height: 20%;
  width:100%;
  position: absolute;
  box-shadow: 0 -1px 0 #000;
}


.msgs {
  height: 79%;
  overflow: scroll;
  overflow-x: hidden;
  color: white;
}

.msg {
  font-size: 10px;
}

.msg_inp {
  background: transparent;
  height: 100%;
  width: 80%;
  border: 0;
  color: white;
}

.msg_send {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;

  outline:none;
  border:none;
  background:white;
}
