body {
  background-color: black;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.startmenu {
  user-select: none;
  cursor: default;
  color: white;
  font-family: 'Permanent Marker', sans-serif;
  top: 15%;
  display:block;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width:100%;
  user-select: none;

  position:absolute;
  float: left;
}
.menuhead {
  color: black;
  font-size: 8.5em;
  margin-bottom: -0.4em;

}

.subhead {
  font-size: 1.5em;
  margin-bottom: 2%;
}

.startbtn {
  font-size: 3.5em;
}

.settingsbtn {
  font-size: 2.5em;
}

.startbtn:hover, .settingsbtn:hover, .lowqual:hover, .highqual:hover, .backbtn:hover {
  color: black;
}

.qualselected {
  color: red;
}

@keyframes wobble {
  from {
    transform: scale(1,1) translateX(20px) rotate(20deg);
    -webkit-text-stroke-width: 9px;
    -webkit-text-stroke-color: #ff00B0;
  }
  to { 
    transform: scale(0.8,0.8) translateX(-20px) rotate(-20deg);
    -webkit-text-stroke-width: 9px;
    -webkit-text-stroke-color: #ff0000;
  }
}
.wobble {
  animation: wobble 1.9s ease-in-out infinite alternate;
}




.settingChoice {
  font-size: 4em;
}
.qualselect {
  font-size: 2em;
}

.backbtn {
  font-size: 3em;
  position: absolute;
}

div.cbhover, div.cbselected {
  background: rgba(31,0,0,0.8);
}

.classbadge {
  font-size: 10px;
  font-family: sans-serif;
  background: rgba(0,0,0,0.4);
  width: 90px;
  padding-top: 10px;
  padding-left:5px;
  padding-right:5px;

  display: inline-block;
  height: 200px;
  z-index: 9999999;
}
.classlist {
  display:inline;
  width: 200px;
}
.classimg {
  width: 70px;
}
.finalizebtn {
  font-size: 3em;
}

#hud {
  display:none;
}

#hud .health.container {
  padding: 0px 0px 0px 0px;
  margin: 10px;
  right: 0%;
  position: absolute;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(184,114,66,0.5);
  background: rgba(139,0,0,0.5);
  width: 20%;
  height: 20px;
  z-index: 8;
}

#hud .health.current {
  padding: 0px;
  background: rgba(0,255,0,0.5);
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 9; 
}

#hud .health.text {
  color: white;
  position:absolute;
  line-height: 100%;
  text-align: center;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#hud .score {
  position: absolute;
  bottom: 0%;
  margin: 10px;
  color: white;
}

#hud .scorecontainer {
  position: absolute;
  bottom: 0%;
  margin: 10px;
  color: white;
}
